.view-assignment-list {
    overflow: hidden;
}

.assignment-list {
    width: fit-content;
    margin: 50px 50px 0 200px;
    border:1px solid #ccc;
    width:600px;
    box-sizing:border-box;
    padding:30px;
    border-radius:8px;
    background-color:#ddd
}

.assignment-name {
    display: block;
    font-size: 24px;
    font-family: 'comicSans', sans-serif;
    margin-bottom: 30px;
    text-decoration: none;
}

.assignment-due{
    font-family: "comicSans", sans-serif;
    font-size:14px;
}

.subjects-bar {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    position: relative;
    left: 0px;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.subjects-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: auto;
}

.subject-tab {
    width: fit-content;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'comicSans', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.subject-tab:hover{
    background-color: #ddd;
    border-color: #ccc;
}

.subject-tab-selected {
    background-color: #000;
    border-color:#000;
    color: #fff;
}

.subject-tab-selected:hover {
    background-color: #000;
    border-color:#000;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.subjects-bar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .subjects-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  .upload-assignment-popup{
      display:none;
      place-items:center;
      position:absolute;
      top:0;
      left:0;
      height:100vh;
      width:100%;
      z-index:10;
  }

  .form-upload-container{
      display:flex;
      flex-direction:column;
      padding:30px;
      box-sizing:border-box;
      height:280px;
      width:500px;
      background-color:#fff;
      border:1px solid #000;
      border-radius:8px;
  }

  .full-width-field{
      width:95%!important;
  }

  .button-secondary{
      background-color:#fff!important;
      margin-top:5px!important;
      border:1px solid #fb4736!important;
  }