.view-assignment-list {
    margin-top: 60px;
    overflow: hidden;
}

.assignment-list {
    width: fit-content;
    margin: 50px 100px 0 350px;
}

.assignment-name {
    display: block;
    font-size: 24px;
    font-family: 'comicSans', sans-serif;
    margin-bottom: 30px;
    text-decoration: none;
}

.assignment-due{
    font-family: "comicSans", sans-serif;
    font-size:14px;
}

.subjects-bar {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    position: relative;
    left: 250px;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.subjects-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: auto;
}

.subject-tab {
    width: fit-content;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'comicSans', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.subject-tab:hover{
    background-color: #ddd;
    border-color: #ccc;
}

.subject-tab-selected {
    background-color: #000;
    border-color:#000;
    color: #fff;
}

.subject-tab-selected:hover {
    background-color: #000;
    border-color:#000;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.subjects-bar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .subjects-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }