.view-assignment-list{
    margin-top:120px;
    overflow:hidden;
}

.assignment-list{
    width:fit-content;
    margin:50px 100px 0 350px;
}

.assignment-name{
    display:block;
    font-size:24px;
    font-family: 'comicSans', sans-serif;
    margin-bottom:30px;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.subjects-sort-bar{
    width:100%;
    height:70px;
    overflow:hidden;
    position:relative;
    left:250px;
}

.subjects-container{
    display:flex;
    flex-direction:row;
    height:60px;
    width:auto;
    overflow-x: scroll;
    border-bottom:1px dashed #ccc;
}

.subject-tab{
    width:auto;
    height:40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: 'comicSans', sans-serif;
    padding-left:20px;
    padding-right:20px;
    border-radius:50px;
    background-color:#FB4736;
    margin-left:10px;
    margin-right:10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}