.view-teacher-list{
    margin-top:120px;
    overflow:hidden;
}

.teacher-sort-bar{
    display:flex;
    flex-direction:row;
    align-items:center;
    height:50px;
    width:100%;
    position:fixed;
    top:60px;
    left:250px;
    background-color:#fff;
    border-bottom: 1px solid #ddd;
    z-index: 100;
}

.query-field{
    height:30px;
    width:300px;
    border-radius:4px 0 0 4px;
    border:1px solid #aaa;
    margin:0 0 0 400px;
    outline: none;
    font-family: 'comicSans',sans-serif;
}

.query-button{
    padding:7px 10px;
    background-color:#eee;
    border:1px solid #aaa;
    border-radius:0 4px 4px 0;
    margin-right:10px;
    font-family: 'comicSans', sans-serif;
    position: relative;
    left:-10px;
    color:#606060;
    cursor: pointer;
}

.query-button:hover{
    background-color: #ddd;
    color:#404040;
}


.query-function-container{
    margin-left:100px;
}