.calendar{
    display:inline-block;
    width:500px;
    position: relative;
    left:400px;
    top:100px;
}
.calender-nav{
    background-color: #eee;
    height:40px;
    position: relative;
    left:60px;
    top:40px;
}

.calendar-buttons{
    text-align: center;
}

.calendar-day{
    width:100px;
    height:50px;
    text-align: center;
    font-size:20px;
    cursor: pointer;
}

.calendar-day:hover{
    background-color: #ccc;
}
