.margin-left{
    margin-left:10px;
}

.assignment-length{
    height:auto!important;
}


.question-container{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    background-color: #fff;
}


.class-suggestions, .student-suggestions{
    border:1px solid #666;
    border-radius: 4px;
    width:270px;
    box-sizing: border-box;
    display:none;
}

.class-suggestions-item, .student-suggestions-item{
    display: block;
    padding:10px 20px;
    cursor: pointer;
}

.class-suggestions-item:hover, .student-suggestions-item:hover{
    background-color: #eee;
}

.assignment-question-text-form-field{
    height:120px;
    width:90%;
}

.assignment-question-marks-form-field{
    width:20%;
}

