
.view-assignment{
    margin-top:160px;
    margin-bottom: 100px;
}

.assignment-details{
    width:fit-content;
    margin:50px 100px 0 350px;
    background-color: #fff;
    width:1000px;
    height:1000px;
    padding:60px 80px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 4px;
}

.assignment-details-name{
    font-size:24px;
    font-family: 'comicSans',sans-serif;
}

.question{
    margin:20px 0 20px 0;
}
.question-value{
    font-family:'comicSans',sans-serif;
    display: block;
}

.question-option{
    display: block;
}

.submit-assignment-button{
    margin-left:50px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.submit-assignment-button:hover{
    background-color: #ddd;
    border-color:#aaa;
    font-weight:400;
}

.assignment-image-view{
    height:200px;
    width:500px;
}