.login-screen{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    height:250px;
    width:30%;
    border:1px solid #000;
    border-radius:8px;
    box-sizing:border-box;
    padding:40px;
    display:flex;
    flex-direction:column;
}
