
.login-page{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100vh;
    background-color:#fff;
    overflow:hidden;
}

.login-form-container{
    height:300px;
    width:280px;
    padding:30px;
    border-radius:10px;
    border:1px solid #ccc;
    margin:150px auto 0 auto;
}