.view-assignment-list-t{
    margin-top: 160px;
}

.student-list-assignment{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:400px;
    height:400px;
    background-color: #fff;
    box-sizing: border-box;
    overflow-y: scroll;
    z-index: 200;
    border-radius: 4px;
    display: none;
}

.student-list-assignment-item{
    display:block;
    padding:10px 20px;
    border-bottom:1px solid #f9f9f9;
    font-family: 'comicSans', sans-serif;
    cursor: pointer;
}

.student-list-assignment-item:hover{
    background-color: #eee;
}

.screen{
    position: fixed;
    height:100vh;
    width:100vw;
    background-color: #000;
    opacity: 0.7;
    top:0;
    left:0;
    z-index: 100;
    display: none;
}