.side-nav{
    width:250px;
    height:100vh;
    background-color: #fff;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    z-index: 100;
}

.side-nav-item{
    background-color: #fff;
    display: block;
    padding:10px 20px;
    box-sizing: border-box;
    font-family: 'comicSans', sans-serif;
    text-decoration: none;
    color:#000;
}

.logo{
    display: block;
    font-size:24px;
    font-family: 'comicSans',sans-serif;
    text-decoration: none;
    color:#000;
    margin: 20px 0 20px 100px;
}

.side-nav-item:hover{
    background-color: #eee;
}

.side-nav-item-selected{
    background-color: #ddd;
}

.side-nav-item-selected:hover{
    background-color: #ccc;
}