.side-nav{
    display:flex;
    flex-direction:column;
    align-items: center;;
    width:250px;
    height:100vh;
    background-image: url("/src/assets/side-nav-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    z-index: 100;
    overflow-y: scroll;
}

.side-nav-item{
    background-image:url("/src/assets/button-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:90%;
    display: block;
    padding:10px 20px;
    box-sizing: border-box;
    font-family: 'comicSans', sans-serif;
    text-decoration: none;
    color:#000;
    margin-top:15px;
    margin-bottom:15px;
    border-radius:8px;
}

.logo{
    display: block;
    font-size:24px;
    font-family: 'comicSans',sans-serif;
    text-decoration: none;
    color:#000;
    margin: 30px 0 20px 0px;
}

.fks-logo{
    height:80px;
    width:180px;
}

.side-nav-item:hover{
    background-image:url("/src/assets/button-active-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.side-nav-item-selected{
    background-image:url("/src/assets/button-active-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.side-nav-item-selected:hover{
    background-image:url("/src/assets/button-active-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.side-nav::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .side-nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.side-nav-icon{
    height:20px;
    width:20px;
    position:relative;
    top:5px;
    margin-right:20px;
}