.form-row{
  display:flex;
  width:100%;
  flex-direction:column;
  align-items:center;
  margin-bottom:20px;
}

.form-row-dual{
  display:flex;
  width:100%;
  flex-direction:row;
  align-items:center;
  margin-bottom:20px;
}

.form-row-dual-cell{
  display:flex;
  width:50%;
  flex-direction:column;
  align-items:center;
}

.form-label{
  display:block;
  width:100%;
  text-align:left;
  font-size:16px;
}

.form-input-field{
  width:100%;
  height:30px;
  border:1px solid #ccc;
  border-radius:4px;
  outline:none;
  padding-left:10px;
  box-sizing:border-box;
}

.form-button-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.form-button{
  height:40px;
  width:100px;
  font-size:14px;
  padding:10px;
  border-radius:5px;
  color:#000;
  background-color:#ccc;
}
