@font-face {
  font-family: comicSans;
  src: url(./comic.ttf);
}

.form-field {
  display: block;
  padding: 10px;
  width: 250px;
  font-family: 'comicSans', sans-serif;
  border: 1px solid #666;
  border-radius: 4px;
  outline: none;
}

.form-field:hover {
  border-color: #000;
}

.form-field-label {
  display: block;
  margin-bottom: 0px;
  font-family: 'comicSans', sans-serif;
}

.form-field-container {
  display: block;
  margin-bottom: 10px;
}

.submit-button {
  display: block;
  border: none;
  border-radius: 4px;
  background-color: #FB4736;
  font-family: 'comicSans';
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button:hover {
  font-weight: 700;
}

.form-container {
  display: block;
  width: fit-content;
  margin: 200px auto 0 auto;
}

.form-title {
  display: block;
  font-family: 'comicSans', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.bubble-list-item {
  display: block;
  width: fit-content;
  padding: 5px 10px 5px 20px;
  font-family: 'comicSans', sans-serif;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 5px 5px 0 0;
  cursor: pointer;
}

.bubble-list-item:hover {
  border-color: #FB4736;
  color:#FB4736;
}

.bubble-list-item-delete {
  display: inline-block;
  margin-left: 10px;
}