@font-face {
  font-family: comicSans;
  src: url(./comic.ttf);
}
body{
  background-color: #666;
}
.form-field {
  display: block;
  padding: 10px;
  width: auto;
  font-family: 'comicSans', sans-serif;
  border: 1px solid #666;
  border-radius: 4px;
  outline: none;
  box-sizing:border-box;
}

.screen-main{
  margin-top:100px;
  margin-left:280px;
  box-sizing:border-box;
  position:relative;
  padding-top:20px;
  width: calc(100%-280px);
  background-color:#fff;
  height: auto;
  border-radius:10px;
  box-shadow:10px 15px 10px rgb(122, 122, 122);
  overflow:hidden;
}

.bg-img-1{
  position:absolute;
  right:0;
  top:0px;
  height:250px;
  width:250px;
  z-index:5;
  filter:opacity(40%);
}

.bg-img-2{
  position:absolute;
  left:0;
  top:160px;
  height:250px;
  width:250px;
  z-index:5;
  filter:opacity(40%);
}

.bg-img-3{
  position:absolute;
  right:0;
  top:400px;
  height:300px;
  width:300px;
  z-index:5;
  filter:opacity(40%);
}

.bg-img-4{
  position:absolute;
  left:0;
  top:600px;
  height:250px;
  width:250px;
  z-index:5;
  filter:opacity(40%);
}


.form-field:hover {
  border-color: #000;
}

.form-field-label {
  display: block;
  margin-bottom: 0px;
  font-family: 'comicSans', sans-serif;
}

.form-field-container {
  display: block;
  margin-bottom: 10px;
}

.submit-button {
  display: block;
  border: none;
  border-radius: 4px;
  background-color: #FB4736;
  font-family: 'comicSans';
  padding: 10px 20px;
  cursor: pointer;
  z-index:100;
}

.submit-button:hover {
  font-weight: 700;
}

.form-container {
  display: block;
  width: fit-content;
  margin: 100px auto 0 auto;
}

.form-container-with-border{
  padding:50px 100px;
  border-radius: 4px;
  background-color: #fff;
}

.form-layout{
  width:100%;
  z-index:100;
}


.form-layout-row{
  display:flex;
  flex-direction:row;
  margin-top:20px;
  width:100%;
  height:auto;
}

.form-layout-70{
  width:70%;
  margin-left:10px;
}

.form-layout-30{
  width:30%;
  margin-left:10px;
}

.form-layout-25{
  width:25%;
  margin-left:10px;
}

.form-layout-20{
  width:20%;
  margin-left:10px;
}

.empty-space{
  width:100%;
}

.layout-stacked{
  display:flex;
  flex-direction:column;
}

.form-title {
  display: block;
  font-family: 'comicSans', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.bubble-list-item {
  display: block;
  width: fit-content;
  padding: 5px 10px 5px 20px;
  font-family: 'comicSans', sans-serif;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 5px 5px 0 0;
  cursor: pointer;
}

.bubble-list-item:hover {
  border-color: #FB4736;
  color:#FB4736;
}

.bubble-list-item-delete {
  display: inline-block;
  margin-left: 10px;
}


/*table*/
th{
  font-family: 'comicSans', sans-serif;
  font-size: 14px;
}

td{
  font-family: 'comicSans', sans-serif;
  font-size:14px;
  padding:10px 20px;
}

tr:nth-child(even){
  background-color: #eee;;
}

table{
  width:fit-content;
  margin:50px auto 50px auto;
  position: relative;
  left:60px;
  z-index:10;
}

.hidden{
  display: none;
}

.notif-component-success{
  display:none;
  height:70px;
  width:300px;
  border-left:4px solid green;
  border-radius:5px;
  position:absolute;
  top:150px;
  right:10px;
  box-shadow: 5px 10px 30px #88888871;
  box-sizing:border-box;
  padding:10px;
  z-index:100;
  background-color:#fff;
}

.notif-component-failed{
  display:none;
  height:70px;
  width:300px;
  border-left:4px solid red;
  border-radius:5px;
  position:absolute;
  top:150px;
  right:10px;
  box-shadow: 5px 10px 30px #88888871;
  box-sizing:border-box;
  padding:10px;
  z-index:100;
  background-color:#fff;
}

.notif-component-text{
  font-family: 'comicSans', sans-serif;
  font-size: 18px;
  color:#000;
  margin-bottom:10px;
}

.notif-component-message{
  font-family: 'comicSans', sans-serif;
  font-size: 14px;
  color:#000;
}

.notif-closeIcon{
  position:absolute;
  top:-10px;
  right:-5px;
  height:20px;
  width:20px;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.action-item{
  color:#551A8B;
  text-decoration: underline;
  cursor: pointer;
}
