.nav{
    height:60px;
    width:100vw;
    background-color:#F1EE8A;
    background-image: url("/src/assets/top-nav-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: fixed;
    top:0;
    left:0;
    border-bottom: 1px solid #ddd;
    z-index: 100;
}

.nav-right{
    float:right;
}

.nav-item{
    font-family: 'comicSans', sans-serif;
    display: inline-block;
    margin:5px 0 0 30px;  
    cursor: pointer;
    color:#551A8B;
    text-decoration: underline;
}

.nav-logo{
    font-size: 24px;
    margin-top:25px;
}

.nav-item-group{
    margin-left:20px;
}

.nav-icon{
    height:30px;
    width:30px;
    position:relative;
    top:8px;
    margin-right:-10px;
}

.user-icon{
    position: relative;
    top:12px;
    width:25px;
    fill:#606060;
}

.notification-icon{
    width:15px;
    position: relative;
    top:-3px;
    fill:#606060;
}

.mail-icon{
    width:17px;
    fill: #606060;
    position: relative;
    top:-5px;
}

.display-name{
    color:#000;
    text-decoration: none;
}

.nav-item-disp{
    height:100%;
}


.notifications-container{
    position: absolute;
    top:60px;
    border:1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px #eee;
    z-index: 100;
    display: none;
}

.notifications-item{
    display: block;
    padding:15px 30px;
    color:#000;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.notifications-item:last-of-type{
    border:none;
}

.notifications-item:hover{
    background-color: #f9f9f9;
    cursor: auto;
}

.calculator{
    position: absolute;
    top:0px;
    right:50px;
    display: none;
    z-index: -1;
}