.nav{
    height:80px;
    width:100vw;
    background-color: #eee;
    box-sizing: border-box;
    padding:0 100px 0 300px;
    position: fixed;
    top:0;
    left:0;
}

.nav-item{
    font-family: 'comicSans', sans-serif;
    display: inline-block;
}
.nav-logo{
    font-size: 24px;
    margin-top:25px;
}