.nav{
    height:60px;
    width:100vw;
    background-color: #fff;
    box-sizing: border-box;
    padding:0 50px 0 300px;
    position: fixed;
    top:0;
    left:0;
    border-bottom: 1px solid #ddd;
    z-index: 100;
}

.nav-right{
    float:right;
}

.nav-item{
    font-family: 'comicSans', sans-serif;
    display: inline-block;
    margin:5px 0 0 30px;  
    cursor: pointer;
    color:#551A8B;
    text-decoration: underline;
}

.nav-logo{
    font-size: 24px;
    margin-top:25px;
}

.user-icon{
    position: relative;
    top:12px;
    width:25px;
    fill:#606060;
}

.notification-icon{
    width:15px;
    position: relative;
    top:-3px;
    fill:#606060;
}

.mail-icon{
    width:17px;
    fill: #606060;
    position: relative;
    top:-5px;
}

.display-name{
    color:#000;
    text-decoration: none;
}