.nav{
    display:flex;
    flex-direction:row;
    height:60px;
    width:100vw;
    background-color:#F1EE8A;
    background-image: url("/src/assets/top-nav-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: fixed;
    top:0;
    left:0;
    border-bottom: 1px solid #ddd;
    z-index: 100;
}

.nav-left{
    width:30%;
    height:100%;
}

.nav-right{
    width:70%;
    height:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    box-sizing:border-box;
}

.nav-item{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    font-family: 'comicSans', sans-serif;
    font-size:12px;
    cursor: pointer;
    background-image: url("/src/assets/button-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:30px;
    width:100px;
    text-decoration: underline;
    margin-left:10px;
    margin-right:10px;
    border-radius:8px;
    text-decoration:none;
}

.nav-item:hover{
    background-image: url("/src/assets/button-active-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item-selected{
    background-image:url("/src/assets/button-active-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-display-name-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    height:100%;
    background-color:#fb4736;
    width:25%;
}

.nav-logo{
    font-size: 24px;
    margin-top:25px;
}

.nav-item-group{
    margin-left:20px;
}

.nav-icon{
    height:15px;
    width:15px;
    margin-right:10px;
}

.user-icon{
    height:25px;
    width:25px;
    margin-top:2px;
    position: relative;
    fill:#fff;
    margin-left:20px;
}

.notification-icon{
    width:15px;
    position: relative;
    top:-3px;
    fill:#606060;
}

.mail-icon{
    width:17px;
    fill: #606060;
    position: relative;
    top:-5px;
}

.display-name{
    color:#fff;
    text-decoration: none;
}

.nav-item-disp{
    height:100%;
}


.notifications-container{
    position: absolute;
    top:60px;
    border:1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px #eee;
    z-index: 100;
    display: none;
}

.notifications-item{
    display: block;
    padding:15px 30px;
    color:#000;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.notifications-item:last-of-type{
    border:none;
}

.notifications-item:hover{
    background-color: #f9f9f9;
    cursor: auto;
}

.calculator{
    position: absolute;
    top:0px;
    right:50px;
    display: none;
    z-index: -1;
}